# you should put your local dev environment variables here, and rename this file to `.env` (keep the file path)
RUN_MIGRATE=1
DB_NAME={{cookiecutter.local_dev_db_name}}
DB_PASSWORD={{cookiecutter.local_dev_db_password}}
DB_USER={{cookiecutter.local_dev_db_user}}
DB_HOST={{cookiecutter.local_dev_db_host}}
DB_PORT={{cookiecutter.local_dev_db_port}}